@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to bottom, #024959, #026773, #3CA6A6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #2b2b2b;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #012E40;
    text-align: center;
    text-shadow: 1px 1px 1px #2b2b2bd3;
}

h2 {
    color: #305f24;
}

p {
    text-align: justify;
}