@charset "UTF-8";

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    background-color: darkgray;
    font-family: var(--fonte1);
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    padding: 50px;
}

header h1 {
    text-align: center;
}

header p {
    text-align: center;
    margin-top: 10px;
}

section {
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(54, 54, 54);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.527);
    width: 400px;
}


p a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

